<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Complaint Portal</title>
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
    <div class="background-video">
        <video autoplay muted loop id="bgVideo">
            <source src="/images/indorebg1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="navbar">
        <div class="logo">
            <img src="/images/IMClogo.png" alt="Logo">
        </div>
        <div class="title">Employee Complaint Portal</div>
        <div class="nav-buttons">
            <a href="/userlogin" class="nav-button">Login</a>
            <a href="https://imcindore.mp.gov.in/" class="nav-button">IMC</a>
            <a href="/team" class="nav-button">Our team</a>
        </div>
    </div>

    <div class="slider">
        <div class="slide">
            <img src="/images/mohanyadav.jpeg" alt="Mohan Yadav Ji ">
            <div class="caption">Dr.Mohan Yadav Ji</div>
            <div class="caption">"Indore is the pride of our state and your contribution to its development is incomplete"</div>
            <div class="caption">Chief Minister</div>
        </div>
        <div class="slide">
            <img src="/images/modiji.jpeg" alt="Narendra Modi Ji">
            <div class="caption"></div>
            <div class="caption">Shri Narendra Modi</div>
            <div class="caption">"People say Indore is a city, I say Indore is an era. It is an era that moves ahead of time. Yet still holds the essence."</div>
            <div class="caption">Prime Minister Of India</div>
        </div>
        <div class="slide">
            <img src="/images/bhargavji.jpeg" alt="Bhargav Ji">
            <div class="caption">Mr. Pushyamitra Bhargav</div>
            <div class="caption">"Our city has achieved unparalleled successes which are the result of your hard work and collective efforts."</div>
            <div class="caption">Mayor, IMC Indore</div>
        </div>
        <div class="slide">
            <img src="/images/kailashji.jpeg" alt="Kailash Ji">
            <div class="caption">Shri Kailash Vijaywargiya</div>
            <div class="caption">"I am proud to be a part of Indore's development journey with you. We have to keep journey forward with the same energy and enthusiasm."</div>
            <div class="caption">Minister of Urban Development Department MP</div>
        </div>
    </div>

    <script src="/js/homepage.js"></script>
</body>
</html>
